.btn {
  display: inline-flex;
  appearance: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  padding: 15px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: .5s;
  color: #FFFFFF;

  &_warm {
    background: #FCC214;

    &:hover,
    &:focus {
      background-color: #FCBA14;
      border-color: #FCBA14;
    }

    &:active {
      background-color: #EDAF13;
    }

    &:disabled {
      background-color: #DFE1E4;
    }
  }

  &_stroke {
    background-color: transparent;
    border-color: #FCC217;
    color: #FFFFFF;

    &:hover,
    &:focus {
      background-color: rgba(248, 250, 253, 0.05);
    }

    &:active {
      background-color: transparent;
      border-color: #EDAF13;
    }

    &:disabled {
      color: #B8C0CC;
      border-color: #B8C0CC;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: 8px;

    svg {
      max-width: 100%;
      display: inline-block;
    }
  }

  &_with-icon {
    background-color: #B8C0CC;
    border: none;

    &:hover,
    &:focus {
      background-color: #FCBA14;

    }

    &:active {
      background-color: #EDAF13;
    }
  }
}

.btn_close {
  display: none;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  background-image: url(../assets/img/ic_close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bnt_call{
  display: none;
  position: fixed;
  right: 20px;
  top: 70%;
  width: 62px;
  height: 62px;
  background-color: #FCC214;
  border-radius: 50%;
  padding: 0;
  z-index: 100;
  .btn__icon {
    margin-left: 0;
    margin-right:0;
    filter: brightness(0) invert(1);
  }
}

@include respond-to($sm){
 .bnt_call{
   display: flex;
 }
}

@include respond-to($xs) {
  .btn {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .bnt_call{
    width: 52px;
    height: 52px;
    padding: 0;
  }
}