
.infinity-line {
  background: url(../assets/img/marquee.svg) repeat-x;
  width: auto;
  height: 248px;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1468px 0;
  }
}

@include respond-to($sm){
  .infinity-block {
    padding: 64px 0;
  }
  .infinity-line {
    height: 90px;
    background-size: auto 90px;
  }
}