.nice-select {
  border-radius: 4px;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding-left: 16px;
  padding-right: 36px;
  height: 57px;
  background-color: transparent;

  &.open {
    &:after {
      transform: rotate(360deg);
    }
  }

  &:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #B8C0CC transparent;
    transform: rotate(180deg);
    right: 22px;
  }

  .list {
    right: 0;
    transition: all .15s, opacity .35s linear;
    transform-origin: 50%;
    transform: scale(1) translateY(0px);
    opacity: 0;
    background-color:#F8FAFD;
    border-radius: 4px;
    box-shadow: none;
    max-height: 300px;
    overflow: scroll;
    &.open {
      opacity: 1;
    }
  }

  .option {
    padding: 16px;
    line-height: 1.4;
    white-space: normal;
    border-bottom: 1px solid #F2F4F7;
    background-color: #F8FAFD;

    &:first-child {
      display: none;
    }

  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  font-size: 18px;
  font-weight: 600;
  height: 57px;
  display: block;
  width: 100%;
  padding-left: 16px;
  padding-right: 36px;
  z-index: -1;
}