#error-msg {
  display: block;
  left: 0;
  transform: translateY(100%);
  bottom: -2px;
  width: auto;
  z-index: 2;

  &.hide {
    display: none;
  }

}

#error-msg {
  display: inline-block;
  position: absolute;
  padding-left: 24px;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  color: #CC3D3D;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../assets/img/info-red.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
  }
}

.form {
  text-align: left;
  color: #475467;
  font-size: 18px;

  &__group {
    position: relative;
    padding-top: 24px;
  }
}

input {
  width: 100%;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 16px 17px;

  &.error {
    border-color: #CC3D3D;
    color: #CC3D3D;
  }
}

.label-input {
  position: absolute;
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  padding: 4px 8px;
  background-color: #FCFCFD;
  transform: translate(7px, -50%);
  z-index: 1;
}

::placeholder {
  color: #B8C0CC;
}

/*   SWITCH-BUTTON  */

.switch-heading {
  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 58px;
    height: 32px;
    background: rgba(252, 194, 20, .5);

    display: block;
    border-radius: 100px;
    position: relative;
    border: 5px solid #FCC214;
  }

  label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    background: #FCC214;
    border-radius: 50%;
    transition: 0.3s;
  }

  input:checked + label {
    background-color: #FFFFFF;
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
}