

.modal-gallery-progress {
  .construction-progress {
    .swiper-wrapper {
      align-items: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 48px;
      height: 48px;
      background-color: #FCC214;
      opacity: 0.85;
      border-radius: 50%;

      &:after {
        color: #475467;
        font-size: 10px;
        font-weight: 600;
      }
    }
  }
}







