.swiper-pagination {
  width: 100%;

}

.swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid #FCC214;
}

.swiper-pagination-bullet-active {
  background-color: #FCC214;
  box-shadow: rgba(252, 194, 20, 0.3) 0 0 0 3px;
}


.swiper-button-next,
.swiper-button-prev {
  width: 48px;
  height: 48px;
  background-color: rgba(29, 41, 57, .85);
  border-radius: 50%;
  transition: .35s;

   &:after {
    color: #DFE1E4;
    font-size: 10px;
    font-weight: 600;
  }
}


