html {
  scroll-behavior: smooth;
}

body {
  font: 400 18px/1.4 $main-font;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #475467;

  &.modal_open {
    overflow: hidden;
    height: 100%;
  }
}

.d-flex {
  display: flex;
}

.color-yellow {
  color: #FCC214;
}

.label {
  display: inline-block;
  color: #F8FAFD;
  border-radius: 100px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  padding: 8px 16px;
  margin-bottom: 8px;

  &_green {
    background-color: #449922;
  }

  &_yellow {
    background-color: #FCC214;
  }

  &_outline {
    color: #B8C0CC;
    border: 1px solid #B8C0CC;
  }
}


.page {
  padding-bottom: 64px;
  padding-top: 123px;

  &__inner {
    position: relative;
    background-color: #FFFFFF;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__count {
    font-weight: 600;
  }

  &__number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 42px;
    color: #1D2939;
    margin: 0 10px;
    border: 1px solid #DFE1E4;
    border-radius: 4px;
  }

  .section__heading {
    margin-bottom: 64px;
  }
}


.section {
  padding: 64px 0;

  &__heading {
    position: relative;
    padding: 56px 0;
    margin-bottom: 24px;
    z-index: 1;

    .title_lg {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #F2F4F7;
      opacity: 0.5;
      z-index: -1;
    }
  }

  &__content {
    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.section-banner.dark{
  .wrap-link-back {
    width: 100%;
    margin-bottom: auto;

    .link-back {
      color: #DFE1E4;

      &:after {
        filter: brightness(0) invert(1);
      }
    }
  }
}
.link {
  position: relative;
  color: #1D2939;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  padding-right: 32px;
  transition: color .35s;

  &:hover,
  &:focus {
    color: #FCC214;
  }

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../assets/img/keyboard-arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.link-back {
  padding-left: 32px;

  &:after {
    left: 0;
    right: auto;
    transform: translateY(-50%) rotate(180deg);
  }
}

.bg-yellow {
  background-color: #FCC214;

  .section__heading {
    .title_sm {
      color: #FFFFFF;
    }

    .title_lg {
      color: #F4BB10;
    }
  }
}

.dynamic-content {
  p {
    font-size: 18px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2 {
    font-size: 40px;
    margin-bottom: 46px;
    margin-top: 46px;
  }

  h3 {
    margin-top: 32px;
    font-size: 24px;
    margin-bottom: 16px;
  }

  h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  a {

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  ol, ul {
    font-size: 18px;
    color: #475467;
    margin-bottom: 16px;
    overflow: hidden;
  }

  ul {
    padding-left: 11px;

    > li {
      position: relative;
      padding-left: 16px;
      margin-bottom: 13px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #3B4040;
        left: 0;
        top: 10px;
      }
    }
  }

  ol {
    position: relative;
    padding-left: 26px;
    line-height: 1.5;
    color: #3B4040;
    counter-reset: list;

    li {
      margin-bottom: 13px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li:before {
      position: absolute;
      left: 8px;
      counter-increment: list;
      content: counters(list, '. ') '.';
    }
  }

  img {
    max-width: 100%;
    height: auto;

    &.alignleft {
      float: left;
      margin: 12px 37px 12px 0;
    }

    &.alignright {
      float: right;
      margin: 4px 0 12px 12px;
    }

    &.aligncenter {
      display: block;
      margin: 24px auto 24px;
      clear: both;
    }
  }

  a {
    color: #FCC214;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  blockquote {
    padding: 8px 14px 8px 16px;
    background-color: #F8FAFD;
    border-left: 4px solid #DFE1E4;
    margin-bottom: 16px;
  }
}




