.page-article {
  padding-top: 0;

  .section-banner {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding-top: 123px;
    min-height: 860px;

    &:before {
      background-image: linear-gradient(180deg, #101828 0%, rgba(16, 24, 40, 0) 100%);
      background-color: transparent;
      height: 30%;
    }

    .container {
      min-height: 0;
      height: auto;
    }
  }
  .article__thumb{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.article-inner {
  max-width: 870px;
  padding: 0 20px;
  width: 100%;
  //margin: 0 auto;
  background-color: #FFFFFF;
}

.article-inner {
  max-width: 1345px;
  padding: 0 257px;
  width: 100%;
  margin-left: auto;
}

.article {
  display: flex;
  position: relative;
  background-color: #FFFFFF;
  margin-top: -96px;
  padding-top: 71px;
  padding-bottom: 64px;


  .title_sm {
    margin-bottom: 46px;
  }
}

.article-inner .post__info {
  padding-top: 53px;
}

.section-related-post {
  position: relative;
  background-color: #FFFFFF;

  .title_sm {
    margin-bottom: 24px;
  }
}

.wrap-widget-share {
  position: sticky;
  width: 1px;
  height: max-content;
  top: 0;
}

.widget-share {
  position: sticky;
  left: 14%;
  width: 122px;
  text-align: right;
  transform: translateY(115px);

  &__item {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
      margin-bottom: 0;
    }

    .icon {
      display: block;
      width: 24px;
      height: 24px;

      svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  &__link {
    display: inline-block;
    transition: .35s;

    &:hover,
    &:focus {
      svg path {
        fill: #FCC214;
        stroke: #FCC214;
      }

      .fill-white {
        fill: white;
      }
    }
  }
}

@include respond-to($xl) {
  .article-inner {
    max-width: 1106px;
    padding: 0 208px;
  }
}

@include respond-to($lg) {
  .article-inner {
    max-width: 740px;
    padding: 0 130px;
  }
  .related-post-list {
    .post-list__item {
      &:nth-child(3) {
        display: none;
      }
    }
  }
}

@include respond-to($md) {
  .article-inner {
    max-width: 672px;
    padding: 0 90px;
  }
  .widget-share {
    width: 70px;
  }
}

@include respond-to($sm) {

  .article-inner {
    max-width: 100%;
    padding: 48px 15px 0;
    margin: 0 auto;
  }
  .widget-share {
    width: 100%;
    display: flex;
    top: 0;
    transform: none;
    background-color: #FFFFFF;
  }
  .widget-share__item {
    margin-bottom: 0;
    margin-left: 18px;
    flex-shrink: 0;
  }
  .related-post-list {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 560px;

    .post-list__item {
      width: 100%;
      margin-bottom: 16px;

      &:nth-child(3) {
        display: block;
      }
    }
  }
}

@include respond-to($xs) {
  .page-article .section-banner {
    min-height: 600px;
  }
  .widget-share__item {
    &:first-child {
      margin-left: 0;
    }
  }
}