.page-news {

  .post-list {
    padding-bottom: 24px;

    &__item {
      margin-bottom: 24px;
    }
  }
}

.toolbar-btn{
  border: none;
  margin-left: 20px;
}

.filter-toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}