.page-project {
  padding-top: 0;

  .section-banner {
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    .container {
      padding-top: 123px;
      flex-wrap: wrap;
      align-items: flex-end;
    }
  }

  .post-list {
    margin-bottom: 32px;
  }

  .wrap-btn {
    text-align: center;
  }
}

.page__nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #FCC214;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .notification {
    position: relative;
    max-width: 226px;
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    color: #98A2B3;
    padding-top: 7px;
    padding-left: 24px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-image: url(../assets/img/info.svg);
      background-position: center;
      background-size: contain;
      left: 3px;
      top: 5px;
    }
  }

}

.block-nav-page {
  position: relative;

  .btn-toggle-open {
    display: none;
    align-items: center;
    border: 1px solid #DFE1E4;
    border-radius: 4px;
    background-color: transparent;
    //width: 83px;
    padding: 12px 22px;

    img {
      display: inline-block;
      width: 32px;
      height: 32px;
    }
  }
}

.menu_page {
  font-weight: 400;
  font-size: 18px;

  .menu__item {
    position: relative;
    color: #475467;
    margin-right: 56px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      background-color: #DFE1E4;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      right: -30px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      margin-right: 0;

      &:before {
        display: none;
      }
    }
  }

  .menu__link {
    &:hover,
    &:focus {
      color: #1D2939;
      -webkit-text-stroke: .5px #1D2939;
    }
  }
}


// SECTION CHARACTERISTIC
.about-us {
  justify-content: space-between;
  padding-bottom: 48px;
  margin-bottom: 48px;
  border-bottom: 3px solid #F2F4F7;

  &:last-of-type {
    border: none;
  }

  .part_right {
    width: 60%;
  }

  .section__text {
    max-width: 830px;
    width: 100%;
  }
}

.advantages {
  padding-top: 48px;
  padding-bottom: 0;
  margin-bottom: 0;
  border-top: 3px solid #F2F4F7;

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 730px;
    width: 100%;
  }

  &__card {
    width: 50%;
    padding-right: 84px;
    margin-bottom: 35px;
  }

  &__icon {
    width: 55px;
    height: 55px;
    margin-bottom: 12px;

    img {
      width: 100%;
    }
  }

}

.block-map {
  position: relative;
  width: 100%;
  min-height: 676px;

  &__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    left: 0;

  }

  img {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    transform: translateX(-50%);
    object-fit: cover;
  }
}


//SECTION CONSTRUCTION
.section-construction {
  overflow: hidden;
}

.construction-period-filter {
  display: flex;
  width: 100%;
  padding-bottom: 32px;

  .wrap-select {
    max-width: 300px;
    width: 100%;
    margin-right: 20px;
    border: 1px solid #DFE1E4;
    border-radius: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.construction-progress {
  width: 100%;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
    }
  }
}

//SECTION DOCUMENTS

.section-documents {
  .title_xs {
    margin-bottom: 16px;
  }
}

.list-documents {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  &__item {
    display: flex;
    padding: 22px 16px;
    background: #F8FAFD;
    border-radius: 4px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    .description {
      position: relative;
      padding-left: 24px;

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 2px;
        background-color: #FCC214;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
      }
    }

    .block-btn {
      padding-left: 40px;
      margin-left: auto;
      flex-shrink: 0;
    }

    .name-document {
      font-size: 18px;
      margin-bottom: 4px;
    }
  }
}


// SECTION 3D-VISUAL
.section-visualization {
  padding-bottom: 0;
  overflow: hidden;
}

.post-3d {
  .post__content {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
  }
}

.btn_3d {
  display: inline-block;
  border: none;
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url(../assets/img/3d-rotation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(29, 41, 57, .85);
  border-radius: 50%;
}

sup {
  vertical-align: top;
}


// SECTION GALLERY
.slider-gallery-wrap {
  position: relative;
  max-width: 996px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;

  &:after {
    position: absolute;
    content: '';
    display: block;
    background-color: rgba(29, 41, 57, .85);
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
    z-index: 3;
  }
}

.gallery-top {
  width: 100%;
  background-color: mistyrose;
  height: 580px;

  .swiper-slide {
    position: relative;

    &:hover {
      .icon-fullscreen {
        opacity: 1;
      }
    }
  }

  .icon-fullscreen {
    position: absolute;
    display: block;
    background-image: url(../assets/img/fullscreen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    width: 64px;
    height: 64px;
    background-color: rgba(29, 41, 57, .85);
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    top: calc(50% - 77px);
    transition: .35s;
    opacity: 0;

    &.active-panel {
      top: 50%;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: calc(50% - 77px);

    &.active-panel {
      top: 50%;
      opacity: 0;
    }
  }
}

.gallery-top .swiper-slide img,
.gallery-thumbs .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-thumb-panel {
  position: absolute;
  width: 100%;
  padding: 0 24px;
  background-color: rgba(29, 41, 57, .85);
  bottom: 8px;
  right: 0;
  left: 0;
  z-index: 1;
  transition: .35s;

  &.active {
    transform: translateY(calc(100% - 20px));

    .panel-down:before {
      transform: translate(-50%, -50%) rotate(270deg);
    }
  }
}

.inner-gallery-thumb {
  overflow: hidden;
}

.gallery-thumbs {
  width: 100%;
  padding: 24px 0 32px;

  .swiper-slide {
    width: 149px;
    height: 87px;
    border-radius: 4px;
    border: 2px solid transparent;
  }

  .swiper-slide-thumb-active {
    box-shadow: 0 25px 50px -12px rgba(252, 194, 23, 0.25);
    border-color: #FCC214;
  }
}

.panel-down {
  display: inline-block;
  position: absolute;
  border: none;
  width: 48px;
  height: 48px;
  background-color: rgba(29, 41, 57, .85);
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &:before {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../assets/img/keyboard-arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    filter: brightness(0) invert(1);
    z-index: 1;
  }
}

@include respond-to($lg) {
  .block-nav-page {

    .btn-toggle-open {
      display: flex;
    }

    .menu_page {
      display: none;
      position: absolute;
      bottom: -13px;
      right: 0;
      transform: translateY(100%);
      min-width: 300px;
      width: auto;
      overflow: visible;
      background: #F8FAFD;
      padding: 0;

      .menu__item {
        padding: 6px 16px;
        border-bottom: 1px solid #F2F4F7;
        border-radius: 4px 4px 0 0;
        font-weight: 600;
        font-size: 18px;

        &:before {
          display: none;
        }
      }
    }
  }
  .page__nav .container {
    align-items: flex-start;
  }
  .advantages__card {
    padding: 0 12px;
  }

  .about-us .part_right {
    width: 70%;
  }
  .section-visualization .post-list__item,
  .section-construction .post-list__item {
    width: 100%;
  }
  .list-documents__item {
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    .btn {
      font-size: 0;

    }

    .btn__icon {
      margin: 0;
    }
  }
}

@include respond-to($md) {
  .gallery-top .icon-fullscreen {
    opacity: 1;
  }
}

@include respond-to($sm) {

  .gallery-thumbs {
    padding: 26px 0 16px;
  }
  .gallery-thumbs .swiper-slide {
    width: 107px;
    height: 67px;
  }
  .gallery-top {
    height: 450px;

    .swiper-button-next,
    .swiper-button-prev,
    .icon-fullscreen {
      top: calc(50% - 40px);
    }
  }

  .about-us {
    display: block;
    margin-bottom: 0;

    .part_right {
      width: 100%;
    }

    .title_xs {
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 640px) {
  .construction-period-filter {
    flex-wrap: wrap;

    .wrap-select {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .list-documents__item {
    display: block;

    .btn__icon {
      margin-left: 8px;
    }

    .btn {
      font-size: 16px;
    }

    .block-btn {
      padding-left: 0;
    }

    .description {
      margin-bottom: 24px;
    }
  }
  .list-documents {
    margin-bottom: 26px;
  }
}


@include respond-to($xs) {
  .section-gallery {
    .section__heading {
      margin-bottom: 40px;
    }
  }
  .gallery-top {
    height: 340px;
  }
  .advantages__card {
    width: 100%;
    text-align: center;

    .title {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }
  .advantages__icon {
    margin: 0 auto 12px;
  }
  .section-characteristic {
    text-align: center;
  }
  .post-3d .post__content {
    font-size: 16px;
  }

  .list-documents__item .name-document {
    font-size: 16px
  }
}

@media screen and (max-width: 359px) {
  .block-nav-page .btn-toggle-open {
    padding: 10px 18px;
  }

  .page-project .wrap-btn {
    text-align: left;
  }
}