.page-news {
  .link {
    padding-left: 32px;

    &:after {
      left: 0;
      right: auto;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .post-list {
    padding-bottom: 24px;

    &__item {
      margin-bottom: 24px;
    }
  }
}

.toolbar-btn{
  border: none;
  margin-left: 20px;
}

.filter-toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}