.footer {
  background-color: #F2F4F7;
  padding: 64px 0 60px;
  overflow: hidden;

  &_top {
    position: relative;
    display: flex;

    &:after {
      position: absolute;
      content: '';
      display: block;
      background-color: #DFE1E4;
      height: 1px;
      width: 100vw;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    width: 100%;
  }


  .part {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  .wrap-contact {
    width: 33.33%;
    padding-right: 24px;
    padding-bottom: 25px;
    padding-left: 24px;

    a {
      display: block;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-of-type {
      .title_xs {
        font-size: 18px;
      }
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    transition: color .35s;

    &:hover,
    &:focus {
      color: #FCC214;
    }

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }

  }

  .phone:before {
    background-image: url(../assets/img/local-phone.svg);
  }

  .mail:before {
    background-image: url(../assets/img/message.svg);
  }

  &__social-bar {
    margin-left: auto;
    padding-top: 16px;
  }

  .social-link {
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
    transition: .35s;

    img {
      width: 100%;
    }

    &:hover, &:focus {
      transform: scale(1.2);
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  &_bottom {
    padding-top: 24px;
    text-align: center;
  }

  .bottom-text {
    position: relative;
    display: inline-block;
    padding: 0 24px;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 25px;
      background-color: #DFE1E4;
      right: -4px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child:after {
      display: none;
    }
  }
}

@include respond-to($lg) {
  .footer {
    &_top {
      flex-wrap: wrap;
    }

    &__social-bar {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 27px 0;

      &:after {
        position: absolute;
        content: '';
        display: block;
        background-color: #DFE1E4;
        height: 1px;
        width: 100vw;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .social-link {
      margin-bottom: 0;
      margin-left: 29px;

      &:first-child {
        margin-left: 0;
      }
    }

    &__contacts {
      max-width: 100%;
    }

    .wrap-contact {
      width: 100%;
      padding-left: 0;

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    .part {
      width: 50%;
      flex-wrap: wrap;
      padding-bottom: 32px;
    }
  }
}

@include respond-to($sm) {
  .footer {
    .part {
      width: 100%;
    }

    &__contacts {
      text-align: center;
    }

    .wrap-link {
      display: inline-block;
    }

    .wrap-contact {
      padding-right: 0;
      padding-bottom: 18px;

      &:last-of-type {
        .title_xs {
          font-size: 16px;
        }
      }
    }

    .phone, .mail {
      width: max-content;
      margin: 0 auto;
    }

    .bottom-text:after {
      display: none;
    }
  }
}