.section-banner {
  position: relative;
  color: #F8FAFD;

  .background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .location {
    padding-left: 32px;
    background-image: url(../assets/img/location-pin.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 24px 24px;
    font-size: 18px;
    color: #B8C0CC;
    margin-bottom: 8px;

    display: flex;
    flex-wrap: wrap;

    span {
      display: block;
      margin-right: 7px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .label_outline {
    width: max-content;
    margin-bottom: 16px;
  }

  .slogan {
    margin-bottom: 24px;
  }

  .btn {
    min-width: 236px;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  .wrap-btn {
    display: flex;
  }

  .pagination-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    z-index: 1;
  }

  .swiper-pagination {
    position: relative;
    text-align: right;
    height: 1px;
    bottom: 34px;
  }
}

.menu-main {
  display: flex;
  flex-direction: column;
  color: #F8FAFD;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.menu-main .menu__link {
  padding: 8px 0;
  margin: 0;
  text-align: right;

  &.active {
    color: #FCC214;
  }
}


.section-banner__bg {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    display: block;
    background-color: #101828;
    opacity: .75;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.section-banner__bg .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 64px;
  min-height: 720px;
  height: 100%;
}

.section-banner .title {
  color: #F8FAFD;
}

.section-banner .section__content {
  margin-top: auto;
}

@media only screen and (max-width: 580px) {
  .menu-main {
    display: none;
  }
}

@include respond-to($sm) {
  .section-banner {
    .title_md {
      font-size: 50px;
    }

    .location {
      font-size: 16px;
    }

    .btn_stroke {
      position: relative;
      font-size: 0;
      width: 76px;
      height: 56px;
      min-width: 0;

      &:before {
        position: absolute;
        content: '';
        display: block;
        background-image: url(../assets/img/info.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 24px;
        height: 24px;
        z-index: 1;
        filter: brightness(0) invert(1);
      }
    }
  }
}

@include respond-to($xs) {
  .section-banner {
    .title_md {
      font-size: 32px;
    }

    .title_sm {
      font-size: 24px;
    }
  }
  .section-banner__bg .container {
    min-height: 600px;
  }
}

@media screen and (max-width: 359px) {
  .section-banner .btn_warm{
    min-width: 0;
    width: auto;
    margin-right: 16px;
  }
  .section-banner .btn_stroke{
    width: 65px;
  }
}





