.section-news {
  .link {
    margin-left: auto;
  }
}

.switch-heading {
  align-items: center;
  margin-bottom: 48px;

  .section__heading {
    margin: 0;
  }

  .toggle-block {
    position: relative;
    margin: 0 28px;
    z-index: 1;
  }
}

.section__heading.switch-toggle {
  .title_sm {
    color: #B8C0CC;
  }

  .title_lg {
    opacity: 0;
  }
}