.section-investments {
  .container {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      display: block;
      background-image: url(../assets/img/coin-group.svg);
      background-repeat: no-repeat;
      background-position: right 0;
      background-size: contain;
      width: 30.5%;
      height: 303px;
      right: 0;
      top: -17%;
    }
  }

  .title_xs {
    margin-bottom: 24px;
  }

  .bg-yellow {
    padding-top: 64px;
  }

  .d-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .section__heading {
    grid-area: 1 / 1 / 2 / 4;
  }

  .part_left {
    grid-area: 2 / 1 / 4 / 2;
  }

  .part_right {
    grid-area: 2 / 2 / 3 / 4;
  }


  .section__heading {
    width: 100%;
    margin-bottom: 0;
  }

  .section__content {
    margin-bottom: 64px;
    max-width: 708px;
  }

  .part_left {
    position: relative;
    padding-top: 42.25%;
  }

  .wrap-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-right: 93px;
  }

  &__img {
    width: 100%;
    max-width: 384px;
  }

  .part_right {
    padding-top: 48px;
  }
}

.goal-fond {
  display: flex;
  max-width: 708px;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 64px;
  grid-area: 3 / 2 / 4 / 4;

  &__item {
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


    &:before,
    &:after {
      position: absolute;
      content: '';
      display: block;
      height: 2px;
      background: #F2F4F7;
      opacity: 0.7;
      width: 50%;
      overflow: hidden;
    }

    &:after {
      left: 50%;
    }

    &:first-child:before {
      display: none;
    }

    &:last-child:after {
      display: none;
    }
  }

  &__top-content {
    width: 36px;
    height: 38px;
    background: #F8FAFD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 600;
    font-size: 24px;
    color: #475467;
    margin: 0 auto;
    margin-bottom: 12px;
  }

  &__text {
    position: relative;
    font-weight: 600;
    padding-top: 60px;

    &:before,
    &:after {
      position: absolute;
      content: '';
      display: block;
      left: 50%;
      transform: translateX(-50%);
    }

    &:before {
      width: 20px;
      height: 20px;
      background-color: #FCC214;
      border: 6px solid #F8FAFD;
      z-index: 1;
      border-radius: 50%;
      top: 15px;
    }

    &:after {
      width: 4px;
      height: 19px;
      background-color: #FCFCFD;
      border: 1px solid #F8FAFD;
      top: 0;
    }
  }
}

@include respond-to($lg) {
  .section-investments {
    padding-bottom: 0;

    .d-flex {
      display: flex;
      flex-wrap: wrap;
    }

    .part {
      width: 50%;
    }
  }

  .goal-fond {
    max-width: 100%;
    width: 100%;
  }
}

@include respond-to($sm) {
  .section-investments {
    padding-top: 0;
    .container:before{
      display: none;
    }
    .part {
      width: 100%;

      &_left {
        padding-top: 0;
      }

      &_right {
        padding-top: 45px;
      }
    }

    .wrap-img {
      position: static;
      padding: 0;
      max-width: 233px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .goal-fond {
    padding-bottom: 94px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 640px) {
  .section-investments {
    .section__content {
      margin-bottom: 40px;
    }
  }
  .goal-fond {
    flex-direction: column;
    font-size: 18px;
    padding: 0 32px;
    &__item {
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 42px;
      text-align: left;

      &:before,
      &:after {
        display: none;
      }
    }

    &__top-content {
      margin: 0;
    }

    &__text {
      padding-top: 0;
      padding-left: 60px;
      margin-left: 25px;

      &:before,
      &:after {
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }

      &:after {
        transform: translate(0, -50%) rotate(89deg);
        left: -6px;
      }
    }
  }
}

@include respond-to($xs) {
  .goal-fond {
    font-size: 16px;
    padding-bottom: 16px;
  }
  .section-investments{
    .title_xs {
      margin-bottom: 18px;
    }
  }
}